/* Cores utilizadas neste exemplo da Patricia Figueira:

Input lighting:           #F6F0DF;
Bege claro:					      #F6F0DB;
Bege médio:					      #EFE3C3;
Bege escuro:				      #E0C99B;
Input shading:				    #BAA984;
Bege escuro para marrom:  #B09A6F;
Marrom:						        #7F6B43;
Cinza claro:				      #555;
Cinza escuro:				      #111;
Rosa:						          #BF667F;					
Vinho:                    #940029;


Color global attributes */
html * {
  color:                  #555;
}

html {
  background:             #EFE3C3 url(../images/site_hatching.gif);
}

a:visited {
  color:                  #7F6B43;
}

a:focus, a:hover, a:active {
  color:                  #940029;
}

h1 {
  color:                  #940029;
}
#gallery h1, #search h1 {
  color:                  #7F6B43;
  
}
#gallery h1 em, #search h1 em {
  color:                  #940029;
}

h2 {
  color:                  #7F6B43;
}

h3, h3 a, 
.text h4 {
  color:                  #940029;
}
/* /Color global attributes */


/* Header tabbed menu */
#header {
  background:             #E0C99B url(../images/header_shading.png) repeat-x bottom;
}

#header strong a, #header strong img {
  color:                  #940029;
}

#slogan {
  color:                  #7F6B43;
}

#header li {
  background:             #EFE3C3 url(../images/tab_corner_left.gif) no-repeat left top;
}

#header li a {
  background:             url(../images/tab_corner_right.gif) no-repeat right top;
}
#header li a:visited {
  color:                  #555;
}
#header li a:hover {
  color:                  #111;
}
#header li a:active {
  color:                  #940029;
}

#header li.current {
	background-color:       #F6F0DB;
  background-image:       url(../images/tab_corner_left_current.gif);
}

#header li.current a {
	background-image:       url(../images/tab_corner_right_current.gif);
}
/* /Header tabbed menu */


/* Main content top segment */
#main_content {
	background-color:       #F6F0DB;
}

#go_back_to_thumbnails {
	background:             transparent url(../images/arrow_left.gif) no-repeat left center;
}

#go_to_gallery {
	background:             transparent url(../images/gallery_album.gif) no-repeat left center;
}

#see_data_sheet {
	background:             transparent url(../images/arrow_down.gif) no-repeat left center;
}
/* /Main content top segment */


/* Thumbnails */

/* Vertically centering images 
(conditional comments for IE required) */
#thumbnails h2, #thumbnails h2 a:link {
  color:                  #555;
}
#thumbnails h3, #thumbnails h3 a:link {
  color:                  #940029;
}

#thumbnails li div a {
	background:             #E0C99B url(../images/thumbnail_box.gif);
}

#thumbnails li div a:visited {
	background:             #EFE3C3 url(../images/thumbnail_box_visited.gif);
}
#thumbnails li div a:hover {
	background:             #940029 url(../images/thumbnail_box_hover.gif);
}


#thumbnails a img, 
#thumbnails label {
	color:                  #7F6B43;
}

#thumbnails a:hover img, 
#thumbnails a:hover label {
	color:                  #FFF;
}
/* /Thumbnails */


/* Summary */
#summary, #picture_description, #about_us, #data_sheet, body.application #main_content ul {
	background-color:       #EFE3C3;
	border-color:           #F6F0DB;
}
/* /Summary */


/* Link to Selection */
#go_to_selection a {
	background:             #EFE3C3 url(../images/select_pictures.gif) no-repeat top left;
}
#go_to_selection a:link, 
#go_to_selection a:visited {
  color:                  #940029;
}

#go_to_selection a:hover {
  color:                  #BF667F;
}
/* /Link to Selection */


/* Paging */
.pages {
  background-color:       #EFE3C3;
  border-color:           #F6F0DB;
}

.pages a:visited {
  color:                  #B09A6F;
}

.pages a.previous {
  background:             transparent url(../images/arrow_left.gif) no-repeat left center;
}
.pages a.previous:visited,
.pages a.next:visited {
	color:                  #555;
}
.pages a.previous:hover {
  background-image:       url(../images/arrow_left_hover.gif);
}
.pages a.next {
  background:             transparent url(../images/arrow_right.gif) no-repeat right center;
}
.pages a.next:hover {
  background-image:       url(../images/arrow_right_hover.gif);
}
.pages a:hover {
  background-color:       #7F6B43;
}
.pages a:hover, 
.pages a.previous:hover,
.pages a.next:hover {
  color:                  #FFF;
}

.pages strong {
  color:                  #940029;
}
/* /Paging */


/* Data sheet */
#data_sheet h2, #data_sheet li {
	color:                  #7F6B43;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture a span, #big_video span {
	background:             transparent url(../images/arrow_previous.gif) no-repeat center right;
}
#big_picture a#previous:hover span, #big_video a#previous:hover span {
	background-image:       url(../images/arrow_previous_hover.gif);
}
#big_picture a#previous:active span, #big_video a#previous:active span {
	background-image:       url(../images/arrow_previous_active.gif);
}
#big_picture #next span, #big_video #next span {
	background:             transparent url(../images/arrow_next.gif) no-repeat center left;
}
#big_picture a#next:hover span, #big_video a#next:hover span {
	background-image:       url(../images/arrow_next_hover.gif);
}
#big_picture a#next:active span, #big_video a#next:active span {
	background-image:       url(../images/arrow_next_active.gif);
}

#big_picture img {
  color:                  #7F6B43;
	border-color:           #940029;
}

#big_picture label {
  background:             #F6F0DB;
}

#big_video label span {
  background:             none;
}
/* /Big picture, big video */


/* Tags */
#tags h3 {
  color:                  #555;
}

#tags a {
  color:                  #940029;
}

#tags a:visited {
  color:                  #7F6B43;
}

#tags a:hover {
  color:                  #FFF;
  background-color:       #940029;
}
/* /Tags */


/* Picture description */
#picture_description p {
  color:                  #7F6B43;
}
/* /Picture description */


/* Selection */
.go_to_checkout a {
  color:                  #940029;
}

body#selection #selection_size, 
body#selection #selection_size label {
	color:                  #F6F0DB;
}

#cart_items {
	background:             #F6F0DB;
	border-color:           #940029;
}

#cart_items.instructions {
	background:             #F6F0DB url(../images/selection_instructions.gif) no-repeat center center;	
}

#all_pictures li label, #all_pictures li a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
	background-color:       #F6F0DB;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
  color:                  #7F6B43;
	opacity:                .7;
}

#all_pictures a:hover, 
#cart_items a:hover, 
#selected_pictures a:hover {
	background:             transparent url(../images/magnifying_glass.gif) no-repeat center center;
}

#selected_pictures a.remove_picture:hover {
	background:             none;
}

body#selection #selection_size label {
	background:             #940029 url(../images/tab_selection_size.gif) repeat-y left center;
}

.go_to_checkout {
	background:             transparent url(../images/shopping_cart.gif) no-repeat right center;
}

.moved_to_cart {
	opacity:                .3;
}
/* /Selection */


/* Text pages */
code {
  color:                  #111;
}

pre, code {
  background:             #EFE3C3;
}

pre, table * {
  border-color:           #E0C99B !important;
}

th {
  color:                  #940029;
  background:             #EFE3C3;
}

td span {
  color:                  #BAA984;
}

#toc {
  background:             #EFE3C3;
  border-color:           #E0C99B;
}

body.text #main_content h4 {
  background:             transparent url(../images/important.gif) no-repeat left top;
}

body.text #main_content dt, 
body.text #main_content dt a, 
body.text #main_content strong, 
cite {
  color:                  #940029;
}
body.text #main_content dt a:hover {
  color:                  #FFF;
  background:             #940029;
}
/* Text pages */


/* Forms (contact, checkout, search) */
label {
	color:                  #940029;
}

input, textarea {
  color:                  #111;
	background-color:       #EFE3C3;
	border-color:           #7F6B43 !important;
}

input:hover, textarea:hover {
	border-color:           #940029 !important;
}

input:active, input:focus,
textarea:active, textarea:focus {
	background-color:       #E0C99B;
	border-color:           #940029;
}

button {
  color:                  #111;
	background-color:       #E0C99B;
	border-color:           #E0C99B !important;
}
button:hover {
	border-color:           #7F6B43;
}

.submitting, .submitting:hover {
	color:                  #B09A6F;
	background:             #EFE3C3 url(../images/spinner_form.gif) no-repeat 95% center;
	border-color:           #EFE3C3;
}

.email_field_with_errors {
  color:                  #fff;
	background-color:       #BF667F;
}

#submit_error {
	background-color:       #940029;
}

#submit_success {
	background-color:       #B09A6F;
}

#submit_error, #submit_success {
  color:                  #fff;
}

/* Specific for global search form */
#global_search {
	background:             transparent url(../images/search_corner_left.gif) no-repeat left center;
}

#global_search fieldset {
	background:             transparent url(../images/search_corner_right.gif) no-repeat right center;
}

#global_search #query {
	color:                  #555;
  background:             #EFE3C3 url(../images/search_input_shading.gif) repeat-x left top;
  border-top-color:       #BAA984 !important;
  border-bottom-color:    #F6F0DF !important;
}
/* /Forms (contact, checkout, search) */


/* Errors (404, 500, timeout, empty search results) */
body.application #main_content h2 {
	background:             #F6F0DB url(../images/error_404.gif) no-repeat center top;
}

body#server_error #main_content h2 {
	background-image:       url(../images/error_500.gif);
}

body#timeout #main_content h2 {
	background-image:       url(../images/error_timeout.gif);
}

#searched_item {
	color:                  #940029;
}
/* /Errors (404, 500, timeout, empty search results) */


/* Facebox */
#facebox * {
	background:             transparent url(../images/facebox_bg.gif) top left;
}

#facebox {
	background:             none;
}

#facebox p {
  background-position:    bottom left;
}

#facebox a {
  background-position:    top right;
}

#facebox img {
  background-position:    bottom right;
}
/* /Facebox */


/* Footer */
#footer {
	background:             #F6F0DB url(../images/footer_shading.png) repeat-x;
	border-top-color:       #EFE3C3;
	border-bottom-color:    #940029;
}

#footer h2, 
#footer h2 a, 
#footer h3 {
  color:                  #555;
}

#beonthenet:hover img, 
#improveit:hover {
  color:                  #940029;
}

#footer h5 {
  color:                  #940029;
}
/* /Footer */