/* Style sheet with conditions for Internet Explorer lower than 8. */

body, .pages, #submit_result, body.application #main_content h2 {
  position:               relative;
}

hr {
  margin:                 -8px 0 -7px 0;
  color:                  transparent;
}

#header li a {
  display:                inline-block;
}


/* Vertically centering images */
#thumbnails li div a {
  display:                block;
}
#thumbnails li div span.ie {
  display:                inline-block;
  height:                 100%;
  vertical-align:         middle;
}
#thumbnails li div img {
  vertical-align:         middle;
}
/* /Vertically centering images */


.second {
  position:               relative;
  bottom:                 20px;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
  filter:                 alpha(opacity=70);
}

.moved_to_cart {
  filter:                 alpha(opacity=30);
}

label {
  margin-top:             .3em;
}


#message_confirmation_yes {
  margin-left:            16.5em;
}