/* Style sheet with conditions for IE6. */

body.pictures#index, body.pictures#gallery, body.pictures#search {
  overflow:               hidden;
}

#header ul {
  bottom:                 -1px;
}

#cart_items {
  margin-left:            34.2em;
}

#all_pictures li, #cart_items li, #selected_pictures li {
  margin:                 1px 2px;
}

#all_pictures li label, #all_pictures li a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
  bottom:                 4px;  
}
#all_pictures a, #cart_items a, 
#selected_pictures a {
  right:                  0;
}

.instructions table {
  margin-right:            -6.9em;
}