/* Style sheet with conditions for Internet Explorer. */

hr {
  margin:                 -8px 0 -7px 0;
}

#header li {
	padding:                0;
}

/* Vertically centering images */
ul#thumbnails li div a {
	display:                block;
}
ul#thumbnails li div span.ie {
	display:                inline-block;
	vertical-align:         middle;
	height:                 100%;
}

.second {
  bottom:                 40px;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
	filter:                 alpha(opacity=70);
}


body#selection #selection_size {
  right:                  34.25em;
}

.moved_to_cart {
	filter:                 alpha(opacity=30);
}

label {
	margin-top:             .3em;
}

#submit_button {
	width:                  12em;
	margin-left:            43%;
}

/* IE7: */
*:first-child + html #facebox a {
	right:                  -18px;
}